
@mixin sans-ja{
  font-family: "ff-basic-gothic-web-pro", "ryo-gothic-plusn", sans-serif ;
}

@mixin sans-en{
  font-family: "ff-basic-gothic-web-pro", "ryo-gothic-plusn", sans-serif ;
}


@mixin serif-ja{
  font-family: "Georgia", "ryo-text-plusn", serif;
}

@mixin serif-en{
  font-family: "Georgia", "ryo-text-plusn", serif;
}

@mixin serif(){
  @include serif-en();
}


@mixin sans(){
  @include sans-ja();
}

@mixin if-small($font-size){
  @media #{$small-and-down}{
    font-size: $font-size;
    @content;
  }
}