.author{
  &-info{
    background-color: $brand-yellow;
  }
  &-section{
    padding: 40px 20px;
  }
  &-image{
    float: left;
    max-width: 128px;
    margin-right: 22px;
  }
  &-content{
    margin-left: 150px;
  }
  &-title{
    margin: 0 0 10px;
    font-size: 22px;
    @include sans-en();
    &-label{
      color: $brand-brown;
    }
    a{
      margin-left: 10px;
      .dashicons-twitter{
        color: #1da1f2;
      }
      .dashicons-facebook{
        color: #3b5998;
      }
    }
  }
  &-desc{
    font-size: 20px;
    color: $brand-brown;
    line-height: 1.4;
    @include sans-en();
  }

}