.bogo-language-switcher {
  text-align: center;
  li {
    padding: 10px 10px 10px 30px !important;
    background-position: 10px center !important;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid $brand-brown;
    color: darken($brand-yellow, 10);
    &:hover {
      background-color: lighten($brand-yellow, 10);
    }
    &.no-translation {
      border-color: darken($brand-yellow, 10);
    }
    &.current {
      background-color: $brand-brown;
      color: #fff;
      &:hover {
        background-color: $brand-brown;
      }
    }
    a {
      &:link, &:visited {
        color: $brand-brown;
        text-decoration: none;
      }
      &:hover, &:active {
        color: $brand-red;
        text-decoration: underline;
      }
    }
  }
}

.link-pages {
  margin: 20px 0;
  padding: 20px;
  background: #f9f9f9;
  &-title {

  }
}

.divider{
  border-bottom: 1px solid #ddd;
  margin: 10px 0;
}

img.no-content {
  width: auto;
  height: auto;
  margin: 40px 0;
  max-width: 100%;
}

.no-translation {
  margin: 20px 0;
  padding: 20px;
  background-color: $brand-yellow;
  color: $brand-brown;
  a {
    @extend %text-link;
  }
}

.fixed-action-btn {
  &.left {
    right: auto;
    left: 23px;
    display: none;
    &.active {
      .avatar {
        display: inline;
      }
    }
  }
  i.material-icons {
    vertical-align: middle;
  }
  .btn-floating {
    .avatar {
      width: auto;
      height: auto;
      max-width: 100%;
    }
  }
  &.active .avatar {
    display: none;
  }
}

.chiramise {
  &-row {
    @include sans();
    margin: 40px 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background: $brand-brown;
  }
  &-instruction {
    position: relative;
    font-size: 18px;
    padding: 20px 20px 20px 60px;
    margin: 20px;
    text-align: left;
    color: $brand-red;
    border: 1px solid $brand-red;
    &:before{
      font-family: "Material Icons";
      font-size: 40px;
      content: "info_outline";
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
    }
    a:link, a:visited {
      color: $brand-red;
      text-decoration: underline;
      font-weight: bold;
    }
    a:hover, a:active {
      color: $brand-yellow;
      font-weight: bold;
      text-decoration: none;
    }
  }
  &-list {
    &-title {
      margin: 0 0 10px;
      font-size: 20px;
      color: #fff;
      text-align: center;
    }
    ul {
      li {
        border-bottom: 1px solid #fff;
        &:first-child {
          border-top: 1px solid #fff;
        }
        a {
          display: block;
          padding: 10px;
          &:before {
            display: inline;
            content: "done";
            font-family: "Material Icons";
            margin-right: 0.25em;
            color: $brand-green;
          }
          &:link, &:visited {
            color: #fff;
            text-decoration: none;
          }
          &:hover, &:active {
            color: #fff;
            background-color: $brand-blue;
          }
        }
        span {
          display: block;
          padding: 10px;
          color: #ddd;
          &:before {
            display: inline;
            content: "chevron_right";
            font-family: "Material Icons";
            margin-right: 0.25em;
            color: $brand-yellow;
          }
        }
      }
    }
  }
}

.follow {
  &-wrapper{
    margin: 40px auto;
  }
  &-ad {
    margin: 0 auto;
    max-width: 336px;
  }
  &-wrapper {
    padding: 20px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    text-align: center;
  }

  &-title{
    @include separated-title(#999);
    margin: 0 0 10px;
    font-size: 32px;
    @include sans();
  }
  &-desc{
    font-size: 18px;
    color: #aaa;
    @include sans();
  }

}

.add-ons {
  padding: 40px 0;
  background: $brand-yellow;
  &-title {
    font-size: 24px;
    margin-bottom: 20px;
    @include separated-title($brand-brown);
    @include sans();
  }
  &-link{
    margin: 20px 0;
    text-align: center;
  }
  &-btn{
    display: inline-block;
    padding: 10px 1em;
    transition: color .3s 0 linear, background-color .3s 0 linear;
    font-size: 32px;
    border: 3px solid $brand-brown;
    @include sans();
    &:link, &:visited{
      color: $brand-brown;
      background: transparent;
    }
    &:hover, &:active{
      color: $brand-yellow;
      background: $brand-brown;
    }
  }
}

.announce{
  text-align: center;
  overflow: hidden;
  background: $brand-yellow;
  $text-color: $brand-brown;
  p{
    display: inline-block;
    margin: 0 10px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    color: $text-color;
  }
  a{

    font-weight: bold;
    border-bottom: 3px solid $brand-red;
    transition: color .3s linear;
    &:link, &:visited{
      color: $text-color;
      text-decoration: none;
    }
    &:hover, &:active{
      color: $brand-red;
      text-decoration: none;
    }
  }
}
