.license{
  &-row{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  // Item on single page
  &-col{
    border-left: 1px solid #eee;
    &:last-child{
      border-right: 1px solid #eee;
    }
  }
  &-item{
    background: #fff;
    padding: 40px 0;
    margin-bottom: 20px;
    &-title{
      font-size: 22px;
      @include if-small(16px);
      font-weight: bold;
      text-align: center;
      margin: 0 0 10px;
      padding-bottom: 10px;
      border-bottom: 3px solid #eee;
      @include sans();
    }
    &-desc{
      @include sans();
      ul{
        li{
          margin-bottom: 0.5em;
          padding-left: 2em;
          list-style: none;
          position: relative;
          &:before{
            position: absolute;
            content: "check_circle";
            font-family: "Material Icons";
            color: $brand-green;
            display: block;
            left: 0.5em;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
    &-buy{
      margin-top: 20px;
      text-align: center;
    }
    &-price{
      text-align: center;
      color: $brand-red;
      @include sans();
      font-weight: bold;
      font-size: 1.2em;
      padding: 0.5em 0;
    }
    &-count{
      text-align: center;
      color: $brand-green;
      @include sans();
    }
  }
}


.product {
  &-buy {
    @include sans();
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    &-title {
      @include separated-title($brand-brown, $brand-yellow);
      @include if-small(32px);
    }
    &-desc {
      @include sans();
      font-size: 18px;
      color: $brand-green;
    }
  }
  &-support {
    padding-bottom: 40px;
    border-bottom: 1px solid $brand-yellow;
    .warifu-license-title,
    .mikkai-form-title {
      @include separated-title($brand-brown, $brand-yellow);
      @include sans();
    }
    .warifu-license-wrapper,
    .mikkai-form {
      margin-top: 40px;
    }
    .warifu-license-message {
      display: block;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid $brand-green;
      color: $brand-green;
    }
    .warifu-license-p {
      margin: 0;
      a {
        @extend %text-link;
      }
    }
    .warifu-license-span {
      font-size: 18px;
      color: #666;
      @include sans();
      a {
        @extend %text-link;
      }
    }
    button,
    .btn {
      margin: 10px auto 30px;
      @extend .btn;
      @extend .waves-effect;
    }
  }

  &-notice{
    &-item{
      text-align: center;
      color: #444;
      font-weight: 400;
      margin-bottom: 20px;
    }
    .material-icons{
      color: $brand-blue;
      font-size: 80px;

    }
    &-title{
      font-size: 20px;
      @include if-small(16px);
      @include sans();
    }
    &-desc{
      font-size: 14px;
      a:link, a:visited{
        color: $brand-blue;
        text-decoration: underline;
      }
      a:hover, a:active{
        color: $brand-red;
        text-decoration: none;
      }
    }
  }
}


.download{

  &-section{
    @extend .product-support;
    .col{
      text-align: center;
      .dashicons{
        vertical-align: middle;
      }
    }
  }
  &-header{
    @extend .product-buy;
  }
  &-title{
    @extend .product-buy-title;
  }
  &-desc{
    @extend .product-buy-desc;
  }

}
