
.article {

  &-body {
    padding-bottom: 40px;
  }

  &-excerpt{
    font-size: 22px;
    font-weight: bold;
    @include sans();
    color: #666;
  }

  &-thumbnail {
    background: $brand-yellow;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px 0;
    img {
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }
  &-jumbotron {
    padding: 40px 20px;
    text-align: center;
    background: $brand-yellow url("../img/gianism-bg.png") center top no-repeat;
    background-size: contain;
    background-attachment: fixed;
    .no-translation{
      background-color: transparent;
    }
    &-title{
      @include sans();
      font-size: 40px;
      color: $brand-blue;
    }
    &-text{
      @include sans();
      margin: 0 auto 40px;
      max-width: 600px;
      font-size: 18px;
      color: $brand-brown;
    }
  }
  &-header {
    padding: 40px 0;
    h1 {
      margin-top: 0;
      font-weight: normal;
      .lang-en & {
        @include sans-en();
      }
      .lang-ja & {
        @include sans-ja();
      }
    }
    &-badge {
      display: inline-block;
      @include sans();
      color: #fff;
      padding: 0.25em 0.5em;
      border-radius: 2px;
      background: #888;
      &-add-on {
        background: $brand-red;
      }
    }
  }

  &-meta {
    .material-icons {
      vertical-align: middle;
      color: #888;
    }
  }

  &-content {
    @extend %post-body;
    margin: 0 auto;
    overflow-x: hidden;
    max-width: 860px;
    .tiled-gallery .gallery-row {
      margin-right: auto;
      margin-left: auto;
    }

  }
}


p.nocomments {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  border: 1px solid #ccc;
  @include sans();
  text-align: center;
  color: #ccc;
}

.comment-list {
  &-section {
    padding: 40px 0;
  }
  @include sans();
  &-title {
    @include separated-title($brand-blue);
  }
  &-desc {
    color: #888;
    font-size: 16px;
    text-align: center;
    @include sans();
  }
  margin: 20px 0;
  li.comment {
    padding: 20px;
    background: #fff;
    ul {
      margin-top: 20px;
    }
    &.even {
      background: #f9f9f9;
    }
    li {
      padding-right: 0;
    }
  }
  .comment {
    &-author {
      font-size: 18px;
      height: 32px;
      line-height: 32px;
      .avatar {
        @extend .circle;
        margin-right: 10px;
        float: left;
      }
      a {
        @extend %text-link;
      }
      cite {
        font-style: normal;
        font-weight: bold;
      }
    }
    &-meta {
      clear: both;
      margin-top: 10px;
      font-size: 14px;
      text-align: right;
      color: #888;
      padding-right: 20px;
      a {
        &:link, &:visited {
          color: #888;
          text-decoration: none;
        }
        &:hover, &:active {
          color: $brand-red;
          text-decoration: none;
        }
      }
    }
    &-reply-link,
    &-reply-login {
      @extend .btn-flat;
    }
    &-content {
      padding: 10px;
      font-size: 18px;
      @extend %post-body;
    }
  }
  .comment-author {
  }
}

#respond {
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid $brand-blue;
  .comment-reply-title {
    margin-top: 0;
    @include sans();
    font-size: 24px;
    @include separated-title($brand-blue);
    small {
      font-size: 12px;
      margin-left: 0.5em;
      a {
        @extend %text-link;
      }
    }
  }
  .logged-in-as, .must-log-in {
    color: #888;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    a {
      @extend %text-link;
    }
  }
}


.related{
  &-title{
    @include separated-title( $brand-yellow );
    font-size: 20px;
  }
  &-none{
    text-align: center;
    padding: 20px;
    background: #f9f9f9;
    color: #999;
  }
}